.body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #24292E;
}
.App{
  text-align: center;
}
.add-task{
  display: inline-block;
  background-color: #65799B;
  padding: 10px 20px;
}
.current-tasks{
  margin-top: 20px;
}
.input-div{
  display: inline-block;
  text-align: left;
}
.input-div input{
  border: none;
  background-color: #FFF5E4;
  padding: 5px;
}
.head-text{
  font-size: 25px;
  font-weight: 400;
  background-color: #555273;
}
p{
  margin: 2px;
  color: white;
}
.instructions{
  text-align: left;
  position: absolute;
  display: inline-block;
  right: 20px;
  padding: 10px 20px;
  margin: 5px;
  transform: scale(0.8);
}
.instructions p{
  font-size: 10;
  color: black;
  padding: 5px;

}
.instructions .head-text{
  color: wheat;
  background-color: blueviolet;
}
.button-4 {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}
